HELP.md
build/
allure-report/
!**/src/test/**

### IntelliJ IDEA ###
out
.idea
*.iws
*.iml
*.ipr

### Mvn ###
.target

### Logs ###
*.log

node_modules/

### .DS_Store ###
.DS_Store.allure/

.site
.allure
.allure-results